.bdy{
    background-color: #212121;
}
.divider{
    color: white;
}
.header{
    color: white;
    font-size: 23px;
}
.text0{
    color: white;
    font-size: 18px;
}
.pagesul{
    color: white;
    font-size: 17px;
    text-align: center;
    display: inline-block;
}
a{
    color: cyan;
    font-size: 18px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
li{
    text-align: left;
}
li:hover{
    list-style: square;
}
.footer{
    color: white;
    font-size: 13px;
}