/*Defining the background image properties*/
.bdy{
    background-color: #212121;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.underconnote{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
/* Applying the best overflow configuration to all 'dev' elements to this website  */
div{
    overflow: auto;
}
/*       END         */