/*Defining the background image properties*/
.bdy{
    background-color: #212121;
}
.table-header{
    font-size: xx-large;
}
/*Somewhat configuring the main header properties*/
.main-header{
    border-color: whitesmoke;
    border-style: hidden;
    border-color: rgb(0, 173, 173);
}

.col1{
    width: 8%;
    height: 3%;
}
.col2{
    width: 8%;
    height: 3%;
}
.col3{
    width: 8%;
    height: 3%;
}

.col2{
    text-align: center;
    cursor: pointer;
}
.col1{
    text-align: center;
    cursor: pointer;
}
.col3{
    text-align: center;
    cursor: pointer;
}


/* Somewhat configuring the style of the main-header's navigation buttons. */
/* Let's remove the decoration of it*/
.homeword0{
    text-decoration: none;
    cursor: pointer;
}
.homelinkword0{
    text-decoration: none;
    cursor: pointer;
}
.downloadslinkword0{
    text-decoration: none;
    cursor: pointer;
}
.downloadsword0{
    text-decoration: none;
    cursor: pointer;
}
.aboutword0{
    text-decoration: overline;
    cursor: pointer;
}
.header-link{
    text-decoration: none;
    color: white;
}
.header-link:hover{
    text-decoration: overline;
    color: rgb(0, 173, 173);
}

.homeword0:hover{
    text-decoration: overline;
}
.downloadsword0:hover{
    text-decoration: overline;
}
.aboutword0:hover{
    text-decoration: overline;
}

/*  Defining the on_hover effect for cols 1,2,3  */
.col1:hover{
    background-color: grey;
}

.col1:hover .homeword0{
    text-decoration: overline;
}

.col2:hover{
    background-color: grey;
}

.col2:hover .downloadsword0{
    text-decoration: overline;
}

.col3:hover{
    background-color: grey;
}

.col3:hover .aboutlnk{
    text-decoration: overline;
}

/*        END                     */

.maincol0{
    background-color: black;
    height: 3%;
}

.maincol0:hover{
    background-color: grey;
}

.maincol0:hover .imgtcg{
    opacity: 100%;
    transform: rotate(-45deg);
}

.maincol0:hover .header-link{
    text-decoration: overline;
    color: rgb(0, 173, 173);
}

.maincol0:hover{
    cursor: pointer;
}

.aboutlnk{
    color:rgb(0, 255, 255);
    text-decoration: overline;
    cursor: pointer;
}
.aboutlnk:hover{
    color: rgb(0, 255, 255);
    text-decoration: overline;
    cursor: pointer;
}
.plusp{
    font-size: 20px;
}
.underconnote{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
/* Applying the best overflow configuration to all 'dev' elements to this website  */
div{
    overflow: auto;
}
/*       END         */