/*Defining the background image properties*/
.bdy{
    background-color: #212121;
}
/*  Defining the on_hover effect for cols 1,2,3  */



/*        END                     */



.plusp{
    font-size: 20px;
}

.downloadtcgh1{
    color: white;
    font-size: 24px;
}
.normaltext{
    color: white;
    font-size: 18px;
    margin-bottom: 1px;
}

.windows_logo{
    width: 65px;
    height: 65px;
    margin-top: 25px;
    float: left;
}

.osheader{
    color: white;
    font-size: 20px;
    float: left;
    margin-top: 45px;
    margin-left: 15px;
}
.win1064downloadbutton{
    color: rgb(0, 0, 0);
    border-color: #333333;
    border-width: 5px;
    border-style: solid;
    width: 350px;
    height: 30px;
    background-color: #333333;
    /* margin-left: 50px; */
    /* float: left; */
    display: table-cell;
    margin-left: 50px;
    text-align: center;
    cursor: pointer;
}
.win1064downloadbutton:hover{
    border-color: #727272;
}
.win64logosmall{
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding-top: 5px;
    display: inline;
    float: left;
}
.win1032downloadbutton{
    color: rgb(0, 0, 0);
    border-color: #333333;
    border-width: 5px;
    border-style: solid;
    width: 350px;
    height: 30px;
    background-color: #333333;
    display: table-cell;
    /* margin-left: 100px;
    margin-right: 100px; */
    /* border-spacing: 200px;
    border-collapse: separate; */
    text-align: center;
    
    cursor: pointer;
}
.win1032downloadbutton:hover{
    border-color: #727272;
}
.win11downloadbutton{
    color: rgb(0, 0, 0);
    border-color: #333333;
    border-width: 5px;
    border-style: solid;
    width: 200px;
    height: 40px;
    background-color: #333333;
    display: table-cell;
    margin-left: 50px;
    text-align: center;
    cursor: pointer;
}
.win11downloadbutton:hover{
    border-color: #727272;
}
.winlogo_small{
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding-top: 5px;
}
.textwindows{
    float: none;
    color: white;
    cursor: pointer;
    margin-top: 0%;
}
.version_logo{
    width: 50px;
    height: 50px;
    margin: 0%;
    padding: 0%;
    float: left;
}
.ver_text{
    margin-top: 15px;
    color: white;
    font-size: 18px;
    margin-left: 20px;
    display: inline-block;
}
.win7sp1downloadbutton{
    color: rgb(0, 0, 0);
    border-color: #333333;
    border-width: 5px;
    border-style: solid;
    width: 200px;
    height: 40px;
    background-color: #333333;
    display: table-cell;
    margin-left: 50px;
    text-align: center;
    cursor: pointer;
}
.win7sp1downloadbutton:hover{
    border-color: #727272;
}
.githubdownloadsbutton{
    color: rgb(0, 0, 0);
    border-color: #333333;
    border-width: 5px;
    border-style: solid;
    width: 220px;
    height: 40px;
    background-color: #333333;
    display: table-cell;
    margin-left: 50px;
    text-align: center;
    cursor: pointer;
}
.githubdownloadsbutton:hover{
    border-color: #727272;
}
.softpediadownloadbutton{
    color: rgb(0, 0, 0);
    border-color: #333333;
    border-width: 5px;
    border-style: solid;
    width: 200px;
    height: 121px;
    background-color: #333333;
    display: table-cell;
    margin-left: 50px;
    text-align: center;
    cursor: pointer;
    border-style: solid;
}
.softpediadownloadbutton:hover{
    border-color: #727272;
}
.winlogo_small_wide{
    width: 170px;
    height: 25px;
    margin-top: 25%;
}
.majorgeeksdownloadsbutton{
    color: rgb(0, 0, 0);
    border-color: #333333;
    border-width: 5px;
    border-style: solid;
    width: 200px;
    height: 121px;
    background-color: #333333;
    display: table-cell;
    margin-left: 50px;
    text-align: center;
    cursor: pointer;
}
.majorgeeksdownloadsbutton:hover{
    border-color: #727272;
}
.winlogo_small_square{
    width: 70px;
    height: 70px;
}

.changelog_link{
    color: white;
    font-size: 18px;
}
.release_notes_link{
    color: cyan;
    text-decoration: none;
}
.release_notes_link:hover{
    text-decoration: underline;
}
.release_notes_logo{
    width: 50px;
    height: 50px;
    margin: 0%;
    padding: 0%;
    display: inline;
    margin-top: 15px;
}
.changelog_link{
    margin-left: 20px;
    padding-top: 0px;
    display: inline;
    margin-top: 32px;
    float: inline-end;
}
.server_small_logo{
    width: 50px;
    height: 50px;
    margin-top: 15px;
    
    padding: 0%;
    float: left;
}
.didyouknow{
    color: white;
    font-size: 18px;
    margin-left: 60px;
    margin-top: 30px;
}
.server_support_table_link{
    color: rgb(0, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
.server_support_table_link:hover{
    text-decoration: underline;
}
.donatediv{
    width: 100%;
    background-color: orange;
    
}
.hearticon{
    width: 45px;
    height: 45px;
    float: left;
}
.tyword{
    float: left;
    margin-top: 13px;
    margin-left: 5px;
    font-size: 22px;
}
.donateword{
    margin-top: 0px;
    display: inline-block;
}
.donate_logo{
    width: 70px;
    height: 70px;
    margin: 0%;
    margin-left: 0px;
    padding: 0%;
    padding-left: 0px;
    float: left;
}
.donatetext{
    color: white;
    font-size: 18px;
    margin-left: 75px;
    margin-top: 25px;
}
.modernosdownloadbuttonsholder{
    display: table-cell;
    border-spacing: 10px;
}
.oldosesdownloadbuttonsholder{
    display: table-cell;
    border-spacing: 10px;
}
.sourcecodedownloadbuttonsholder{
    display: table-cell;
    border-spacing: 10px;
}
.othertrustedsourcesbuttonsholder{
    display: table-cell;
    border-spacing: 10px;
}
.oldergeeksdownloadsbutton{
    color: rgb(0, 0, 0);
    border-color: #333333;
    border-width: 5px;
    border-style: solid;
    width: 200px;
    height: 121px;
    background-color: #333333;
    display: table-cell;
    margin-left: 50px;
    text-align: center;
    cursor: pointer;
}
.oldergeeksdownloadsbutton:hover{
    border-color: #727272;
}

  
.tydonatorsword{
    color: white;
    font-size: 18px;
    display: inline-block;
    margin-top: 10px;
    background-color: #333333;
    width: -webkit-fill-available;
    cursor: help;
    user-select: none;
    border-color: #727272;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 15px;
    margin-left: 75px;
}
.tydonatorsword summary::-webkit-details-marker {
    display: none;
}
.tydonatorsword summary{
    list-style: none;
    padding: 1em;
    cursor: help;
    border: 1px solid;
    /* background: #fafafa; */
    padding-right: 1.5em;
    position: relative;
    margin-bottom: 0%;
    &::after {
        content: '';
        border-right: 4px solid;
        border-bottom: 4px solid;
        position: absolute;
        right: .75em;
        height: .75em;
        width: .75em;
        transform: rotate(45deg) translatey(-.1em);
    }
  
  /* &:focus { */
    /* outline: 2px solid; */
    /* outline-offset: 1px; */
  /* } */
}


details[open].tydonatorsword > summary::after {
    transform: rotate(-135deg) translatey(-.3em);
}
  
@keyframes invisiblyGrowFontSize {
    0% {
      font-size: 0;
      opacity: 0;
    }
    100% {
      font-size: 1em;
      opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tydonatorsword[open] > ul {
    animation-name: invisiblyGrowFontSize, fadeIn;
    animation-duration: 500ms, 200ms;
    animation-delay: 0ms, 500ms;
}
.tydonatorsword[open] > summary {
    animation-name: invisiblyGrowFontSize, fadeIn;
    animation-duration: 500ms, 200ms;
    animation-delay: 0ms, 500ms;
}

.tydonatorsword details {
    margin: 1em 0;
}


.donlogosmall{
    float: left;
    width: 25px;
    height: 25px;
    margin-top: -3px;
    margin-right: 5px;
    position: sticky;
    display: inline;
}
.summaryword{
    display: inline;
}
.donatorsul{
    color: white;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    margin-left: 75px;
}
.donatorsul > li {
    margin-top: 15px;
}
.donatorsul:hover{
    color: cyan;
    list-style-type: square;
}
.wingetlogo{
    width: 64px;
    height: 64px;
    float: left;
    margin-top: 2px;
}
.wingetword0{
    font-size: 18px;
    color: white;
    display: block;
    margin-top: 25px;
    margin-left: 79px;
    margin-bottom: 23px;
}
.downloadline{
    width: 70%;
    background-color: #727272;
    color: white;
    display: block;
    height: 62px;
    font-size: 16px;
    border-style: solid;
    border-width: 4px;
    border-color: #333333;
    padding-left: 12px;
    border-radius: 3px;
    font-family: 'Consolas', 'Arial';
}
.downloadline2{
    font-size: 18px;
    color: white;
    display: block;
}
.ver_text_dev{
    color: white;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 15px;
    display: inline;
    float: inline-start;
}
.betabanner{
    width: 100%;
    background-color: #821131;
    border-style: solid;
    border-width: 2px;
    border-color: #C7253E;
}
.h3betabanner{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 25px;
    color: white;
}
.betabannerp{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 18px;
}
.hashesh1{
    color: white;
    font-size: 23px;
    margin-top: 25px;
}
.hashesp{
    color: white;
    font-size: 18px;
    margin-top: 3px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.hashesholder{
    background-color: #333333;
    border-style: solid;
    border-width: 2px;
    border-color: #727272;
    width: 100%;
    display: inline-block;
    height: max-content;
    color: white;
    margin-top: 15px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
}
.link0{
    color: cyan;
    text-decoration: none;
}
.link0:hover{
    text-decoration: underline;
}
.warnbanner{
    background-color: orangered;
    width: 100%;
    height: fit-content;
}
.warnbanner p{
    color: white;
    font-size: 16px;
}
.warnbanner ul{
    color: white;
}
.warnbanner li{
    color: white;
}
.delayinfobanner{
    background-color: rgb(0, 10, 70);
    width: 100%;
    height: fit-content;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(66, 87, 207);
}
.dinfobanh1{
    color: white;
    float: left;
    font-size: 24px;
    margin-top: 1px;
    margin-bottom: 2px;
}
.dinfop{
    color: white;
    float: left;
    margin-top: 0px;
}
.link_w_onhover_effect_ban1{
    color: deepskyblue;
    text-decoration: none;
    cursor: pointer;
    float: left;
}
.link_w_onhover_effect_ban1:hover{
    text-decoration: underline;
}
/* Applying the best overflow configuration to all 'dev' elements to this website  */
div{
    overflow: auto;
}
/*       END         */