/*Defining the background image properties*/
.bdy{
    background-color: #212121;
}
.table-header{
    font-size: xx-large;
}
/*Somewhat configuring the main header properties*/
.main-header{
    border-color: whitesmoke;
    border-style: hidden;
    border-color: orange;
}

.wtxt0:hover{
    text-decoration: line-through;
    color: orange;
}
.col1{
    width: 8%;
    height: 3%;
}
.col2{
    width: 8%;
    height: 3%;
}
.col3{
    width: 8%;
    height: 3%;
}
.featuresli0{
    color:white;
    font-size: large;
}
.wnewtable0{
    background-color: orange;
    border-color: yellowgreen;
    opacity: 10%;
}
.wnewlist0{
    color: black;
}

.col2{
    text-align: center;
}
.col1{
    text-align: center;
}
.col3{
    text-align: center;
}

.maincol0{
    background-color: black;
    height: 3%;
}

.maincol0:hover{
    background-color: grey;
}

.imgtcg:hover{
    opacity: 50%;
}


.closelnk{
    text-decoration: none;
    color: white;
    cursor: default;
}
.w7sp1_lnk{
    color: white;
    text-decoration: none;
    cursor: default;
}
.w1032_lnk{
    color: white;
    text-decoration: none;
    cursor: default;
}
.w1064_lnk{
    color: white;
    text-decoration: none;
    cursor: default;
}

/* Somewhat configuring the style of the main-header's navigation buttons. */
/* Let's remove the decoration of it*/
.homeword0{
    text-decoration: none;
    cursor: default;
}
.homelinkword0{
    text-decoration: none;
    cursor: default;
}
.downloadslinkword0{
    text-decoration: overline;
    cursor: default;
}
.downloadsword0{
    text-decoration: none;
    cursor: default;
}
.aboutword0{
    text-decoration: none;
    cursor: default;
}
.header-link{
    text-decoration: none;
    color: white;
}
.header-link:hover{
    text-decoration: overline;
    color: orange;
}

.homeword0:hover{
    text-decoration: overline;
}
.downloadsword0:hover{
    text-decoration: overline;
}
.aboutword0:hover{
    text-decoration: overline;
}


.col1:hover{
    background-color: grey;
}

.col2:hover{
    background-color: grey;
}

.col3:hover{
    background-color: grey;
}
/* Configuring the style of wnewtable0*/
.wnewtable0{
    margin-top: 15px;
}

.wnewtable0:hover{
    opacity: 100%;
}

/*  The code of 'licensetable0' hover effect goes over here. */
.licensetable0:hover{
    opacity: 100%;
}

.wapp0{
    margin-top: 25px;
}
.appdiv{
    margin-top: 25px;
    border: 10px white;
    border-style: solid;
    border-width: 5px;
    border-color: darkgreen;
    background-color: green;
    width: 99%;
    height: 90px;
}


.downloadtcg{
    background-color: green;
    width: 1000px;
    margin-top: 60px;
    margin-left: 25%;
    border-width: 1px;
}
.closeapp{
    width: 75px;
    background-color: red;
    height: 10px;
    padding-right: 0px;
}
.cwindows{
    height: 5px;
}
.closeapp:hover{
    background-color: darkgrey;
}
.closeapptxt{
    padding-right: 50%;
    padding-left: 42%;
    cursor: default;
}
.hint0{
    cursor: default;
}
.hint001{
    cursor: default;
}
.hint1{
    cursor: not-allowed;
}
.win7:hover{
    background-color: rgb(150, 0, 0);
    cursor: not-allowed;
}
.hint2{
    cursor: default;
}
.win1032:hover{
    background-color: darkgrey;
}
.hint3{
    cursor: default;
}
.win1064:hover{
    background-color: darkgrey;
}
.headerdownloads{
    background-color: rgb(0, 131, 131);
}
.hint4{
    cursor: default;
}
.autodownloader:hover{
    background-color: darkgrey;
}
.hint5{
    cursor: default;
}
.hint6{
    cursor: default;
    font-size: 14px;
}

.download0{
    color: white;
    text-decoration: none;
    cursor: default;
}


kbd{
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 20%;
    box-sizing: border-box;
    color: black;
    font-weight: normal;
    box-shadow: inset 0 0 13px #fff, 0 0 13px #fff,
                rgb(124, 124, 124) 0px 0px 43px inset;
    background: linear-gradient(180deg, rgb(255, 255, 255) 16%, rgb(206, 206, 206) 92%, transparent 95%, rgb(206, 206, 206) 99%, rgb(206, 206, 206) 102%, rgb(206, 206, 206) 106%, rgb(206, 206, 206) 110%, rgb(206, 206, 206) 113%), linear-gradient(24.75deg, rgb(255, 255, 255) 33%, rgb(206, 206, 206) 37%, transparent 41%, rgb(206, 206, 206) 44%, rgb(206, 206, 206) 48%, rgb(206, 206, 206) 51%, rgb(206, 206, 206) 55%, rgb(206, 206, 206) 59%) transparent;
}

kbd:hover{
    background: none;
    box-shadow: none;
    color: black;
    background-color: white;
}

.hint69{
    cursor: default;
}

.protip{
    cursor: default;
}

/*          END                  */




/* Applying the best overflow configuration to make sure things won't go outside of div element  */
div{
    overflow: auto;
}
/*      END       */