/*Defining the background image properties*/
.bdy{
    background-color: #212121;
}
.table-header{
    font-size: xx-large;
}
/*Somewhat configuring the main header properties*/
.main-header{
    border-color: whitesmoke;
    border-style: hidden;
    border-color: rgb(0, 173, 173);
}

.col1{
    width: 8%;
    height: 3%;
}
.col2{
    width: 8%;
    height: 3%;
}
.col3{
    width: 8%;
    height: 3%;
}

.col2{
    text-align: center;
    cursor: pointer;
}
.col1{
    text-align: center;
    cursor: pointer;
}
.col3{
    text-align: center;
    cursor: pointer;
}


/* Somewhat configuring the style of the main-header's navigation buttons. */
/* Let's remove the decoration of it*/
.homeword0{
    text-decoration: overline;
    cursor: pointer;
}
.homelinkword0{
    text-decoration: none;
    cursor: pointer;
}
.downloadslinkword0{
    text-decoration: none;
    cursor: pointer;
}
.downloadsword0{
    text-decoration: none;
    cursor: pointer;
}
.aboutword0{
    text-decoration: none;
    cursor: pointer;
}
.header-link{
    text-decoration: none;
    color: white;
}
.header-link:hover{
    text-decoration: overline;
    color: rgb(0, 173, 173);
}

.homeword0:hover{
    text-decoration: overline;
}
.downloadsword0:hover{
    text-decoration: overline;
}
.aboutword0:hover{
    text-decoration: overline;
}

/*  Defining the on_hover effect for cols 1,2,3  */
.col1:hover{
    background-color: grey;
}

.col1:hover .homeword0{
    text-decoration: overline;
}

.col2:hover{
    background-color: grey;
}

.col2:hover .downloadsword0{
    text-decoration: overline;
}

.col3:hover{
    background-color: grey;
}

.col3:hover .aboutlnk{
    text-decoration: overline;
}

/*        END                     */

.maincol0{
    background-color: black;
    height: 3%;
}

.maincol0:hover{
    background-color: grey;
}

.maincol0:hover .imgtcg{
    opacity: 100%;
    transform: rotate(-45deg);
}

.maincol0:hover .header-link{
    text-decoration: overline;
    color: rgb(0, 173, 173);
}

.maincol0:hover{
    cursor: pointer;
}

.aboutlnk{
    color:rgb(0, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
.aboutlnk:hover{
    color: rgb(0, 255, 255);
    text-decoration: overline;
    cursor: pointer;
}
.plusp{
    font-size: 20px;
}

.largebanner{
    width: 100%;
    height: 405px;
    background-color: rgba(0, 0, 255, 0);
    border-style: none;
}
.bannerimg{
    width: 98%;
    height: 400px;
    position: absolute;
    z-index: 1;
}
.greeting{
    position: absolute;
    margin-top: 0px;
    padding-top: 0px;
    z-index: 2;
    margin-top: 70px;
    color: white;
    font-size: 25px;
    font-family: Helvetica, Arial,  sans-serif;
    margin-left: 200px;
}
.greeting2{
    color: rgb(255, 255, 255);
    z-index: 3;
    position: absolute;
    margin-top: 120px;
    margin-left: 270px;
    font-size: 20px;
}
.go_to_downloads_button{
    z-index: 4;
    position: absolute;
    width: 140px;
    height: 45px;
    background-color: #333333;
    border-color: #333333;
    border-style: solid;
    margin-top: 180px;
    margin-left: 45%;
    cursor:pointer;
    border-width: 6px;
}
.go_to_downloads_button:hover{
    border-color: #727272;
}
.head_to_downloads_text{
    color: white;
    font-size: 14px;
    text-align: center;
}
.welcometotcgweb{
    color: white;
    font-size: 24px;
}
.underconstruction_note{
    color: white;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
.hidden_link{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

/* Applying the best overflow configuration to all 'dev' elements to this website  */
div{
    overflow: auto;
}
/*       END         */
.test{
    color: rgb(0, 247, 255);
}
