/*Defining the background image properties*/
.bdy{
    background-color: #212121;
}
/*Somewhat configuring the main header properties*/


.donatediv{
    width: 100%;
    background-color: orange;
    margin-top: 15px;
}
.hearticon{
    width: 45px;
    height: 45px;
    float: left;
}
.tyword{
    float: left;
    margin-top: 13px;
    margin-left: 5px;
    font-size: 22px;
}
.donatword{
    color: black;
    font-size: 16px;
}

/* Let's remove the decoration of it*/

/*  Defining the on_hover effect for cols 1,2,3  */



/*        END                     */


.plusp{
    font-size: 20px;
}

.largebanner{
    width: 100%;
    height: 365px;
    background-color: rgba(0, 0, 255, 0);
    border-style: none;
}
.bannerimg{
    width: 99%;
    height: 340px;
    position: absolute;
    z-index: 1;
}
.greeting{
    position: absolute;
    margin-top: 0px;
    padding-top: 0px;
    z-index: 2;
    margin-top: 70px;
    color: white;
    font-size: 20px;
    font-family: Helvetica, Arial,  sans-serif;
    padding-left: 37%;
}
.greeting2{
    color: rgb(255, 255, 255);
    z-index: 3;
    position: absolute;
    margin-top: 120px;
    margin-left: 25%;
    font-size: 18px;
}
.go_to_downloads_button{
    z-index: 4;
    position: absolute;
    width: 140px;
    height: 45px;
    background-color: #333333;
    border-color: #333333;
    border-style: solid;
    margin-top: 160px;
    margin-left: 45%;
    cursor:pointer;
    border-width: 6px;
}
.go_to_downloads_button:hover{
    border-color: #727272;
}
.head_to_downloads_text{
    color: white;
    font-size: 14px;
    text-align: center;
}
.welcometotcgweb{
    color: white;
    font-size: 24px;
}
.underconstruction_note{
    color: white;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
.hidden_link{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.whytcg{
    color: white;
    font-size: 30px;
    margin-top: 0px;
}
.freeos{
    width: 80px;
    height: 80px;
    margin-left: 30px;
    float: left;
}
.text0{
    float: left;
    color: white;
    font-size: 18px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.freediv{
    margin-top: 15px;
    border-style: solid;
    border-color: rgb(139, 139, 139);
    border-radius: 30px;
    border-width: 2px;
}
.text01{
    margin-left: 30px;
    color: white;
    font-size: 15px;
    margin-top: 15px;
    float: left;
}
.freediv:hover{
    background-color: rgb(139, 139, 139);
}
.freediv:hover > .text01{
    color: black;
}
.freediv:hover > .text0{
    color: black;
}
.link_w_onhover_effect{
    color: deepskyblue;
    text-decoration: none;
    cursor: pointer;
}
.link_w_onhover_effect:hover{
    text-decoration: underline;
}
.screenshotscenter{
    color: white;
    font-size: 30px;
    margin-top: 25px;
}
.screenshots_div{
    background-color: #424242;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; 
    margin-top: 15px;  
}
.screenshotfirst{
    margin-right: 70px;
    cursor: pointer;
}
.whatusersthinkcenter{
    color: white;
    font-size: 30px;
    margin-top: 40px;
}
.yassoss{
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.yassenss{
    text-align: center;
}
.yassenwords{
    font-size: 18px;
    text-align: center;
    color: white;
    margin-top: 15px;
}
.customerreviewdiv{
    text-align: center;
}
.customerss{
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.customerreviewwords{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
}
.yossefreviewdiv{
    text-align: center;
}
.yossefss{
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.yossefreviewwords{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
}
.donateword{
    color: white;
    font-size: 30px;
    margin-top: 40px;
    display: block;
}
.donthavemoneyword{
    color: white;
    margin-top: 15px;
    font-size: 23px;
}
.communitysupportdiv{
    background-color: #424242;
    width: 100%;
}
.communitysupportword0{
    color: white;
    font-size: 16px;
}
.listelement1{
    color: white;
    
}
.listelement1:hover{
    color: brown;
    background-color: #212121;
}
.bigwebsitessays{
    color: white;
    font-size: 30px;
    margin-top: 40px;
    display: block;
}
.softpediasentence{
    color: white;
    font-size: 18px;
    margin-top: 35px;
    display: block;
    margin-left: 10px;
}
.softpediaword{
    color: white;
    font-size: 23px;
}
.complementdot{
    color: white;
}
.introductionvideo{
    color: white;
    font-size: 30px;
    margin-top: 25px;
}
.introvideocenter{
    margin-top: 25px;
}
.betabanner{
    width: 100%;
    background-color: #821131;
    border-style: solid;
    border-width: 2px;
    border-color: #C7253E;
}
.h3betabanner{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 25px;
    color: white;
}
.betabannerp{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 18px;
}
.link0{
    color: cyan;
    text-decoration: none;
}
.link0:hover{
    text-decoration: underline;
}
.delayinfobanner{
    background-color: rgb(0, 10, 70);
    width: 100%;
    height: fit-content;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(66, 87, 207);
}
.dinfobanh1{
    color: white;
    float: left;
    font-size: 24px;
    margin-top: 1px;
    margin-bottom: 2px;
}
.dinfop{
    color: white;
    float: left;
    margin-top: 0px;
}
.link_w_onhover_effect_ban1{
    color: deepskyblue;
    text-decoration: none;
    cursor: pointer;
    float: left;
}
.link_w_onhover_effect_ban1:hover{
    text-decoration: underline;
}
/* Applying the best overflow configuration to all 'dev' elements to this website  */
div{
    overflow: auto;
}
/*       END         */
.test{
    color: rgb(0, 247, 255);
}
