/*Defining the background image properties*/
.bdy{
    background-color: #212121;
}


/*  Defining the on_hover effect for cols 1,2,3  */




/*        END                     */
.plusp{
    font-size: 20px;
}

/*                      END                         */
/*  applying configuration related to elements in the privacy policy page.  */
.privheader{
    color: white;
    font-size: 36px;
    margin-top: 12px;
}

.yourprivacyimportantword{
    color: white;
    font-size: 20px;
    margin-top: 15px;
}
.tcgcollects{
    color: white;
    font-size: 18px;
    margin-top: 0px;
}
.datacollectiontcgtable{
    color: white;
    font-size: 15px;
    border-radius: none;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    width: 100%;
    border-collapse: collapse;
}
.th0{
    border-style: solid;
    border-color: white;
    border-width: 3px;
    font-size: 16px;
}
.th1{
    border-style: solid;
    border-color: white;
    border-width: 3px;
    font-size: 20px;
}
.link0{
    color: cyan;
    text-decoration: none;
}
.link0:hover{
    text-decoration: underline;
}
kbd{
    color: white;
    background-color: #727272;
    border-radius: 5px;
}
.tcgsitecollects{
    color: white;
    margin-top: 25px;
    font-size: 18px;
}
.li2{
    margin-top: 10px;
}


/* Applying the best overflow configuration to all 'dev' elements to this website  */
div{
    overflow: auto;
}
/*       END         */
.test{
    color: rgb(0, 247, 255);
}
