/*Defining the background image properties*/
.bdy{
    background-color: #212121;
}
.table-header{
    font-size: xx-large;
}
/*Somewhat configuring the main header properties*/
.main-header{
    border-color: whitesmoke;
    border-style: hidden;
    border-color: rgb(0, 173, 173);
}

.col1{
    width: 8%;
    height: 3%;
}
.col2{
    width: 8%;
    height: 3%;
}
.col3{
    width: 8%;
    height: 3%;
}

.col2{
    text-align: center;
    cursor: pointer;
}
.col1{
    text-align: center;
    cursor: pointer;
}
.col3{
    text-align: center;
    cursor: pointer;
}


/* Somewhat configuring the style of the main-header's navigation buttons. */
/* Let's remove the decoration of it*/
.homeword0{
    text-decoration: none;
    cursor: pointer;
}
.homelinkword0{
    text-decoration: none;
    cursor: pointer;
}
.downloadslinkword0{
    text-decoration: none;
    cursor: pointer;
}
.downloadsword0{
    text-decoration: none;
    cursor: pointer;
}
.aboutword0{
    text-decoration: none;
    cursor: pointer;
}
.header-link{
    text-decoration: none;
    color: white;
}
.header-link:hover{
    text-decoration: overline;
    color: rgb(0, 173, 173);
}

.homeword0:hover{
    text-decoration: overline;
}
.downloadsword0:hover{
    text-decoration: overline;
}
.aboutword0:hover{
    text-decoration: overline;
}

/*  Defining the on_hover effect for cols 1,2,3  */
.col1:hover{
    background-color: grey;
}

.col1:hover .homeword0{
    text-decoration: overline;
}

.col2:hover{
    background-color: grey;
}

.col2:hover .downloadsword0{
    text-decoration: overline;
}

.col3:hover{
    background-color: grey;
}

.col3:hover .aboutlnk{
    text-decoration: overline;
}

/*        END                     */

.maincol0{
    background-color: black;
    height: 3%;
}

.maincol0:hover{
    background-color: grey;
}

.maincol0:hover .imgtcg{
    opacity: 100%;
    transform: rotate(-45deg);
}

.maincol0:hover .header-link{
    text-decoration: overline;
    color: rgb(0, 173, 173);
}

.maincol0:hover{
    cursor: pointer;
}

.aboutlnk{
    color:rgb(0, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
.aboutlnk:hover{
    color: rgb(0, 255, 255);
    text-decoration: overline;
    cursor: pointer;
}
.plusp{
    font-size: 20px;
}

/*                      END                         */
/*  applying configuration related to elements in the privacy policy page.  */
.privheader{
    color: white;
    font-size: 36px;
    margin-top: 12px;
}

.yourprivacyimportantword{
    color: white;
    font-size: 20px;
    margin-top: 15px;
}
.tcgcollects{
    color: white;
    font-size: 18px;
    margin-top: 0px;
}
.datacollectiontcgtable{
    color: white;
    font-size: 15px;
    border-radius: none;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    width: 100%;
    border-collapse: collapse;
}
.th0{
    border-style: solid;
    border-color: white;
    border-width: 3px;
    font-size: 16px;
}
.th1{
    border-style: solid;
    border-color: white;
    border-width: 3px;
    font-size: 20px;
}
.link0{
    color: cyan;
    text-decoration: none;
}
.link0:hover{
    text-decoration: underline;
}
kbd{
    color: white;
    background-color: #727272;
    border-radius: 5px;
}
.tcgsitecollects{
    color: white;
    margin-top: 25px;
    font-size: 18px;
}
.li2{
    margin-top: 10px;
}

/* applying footer element configuration */
footer{
    font-size: 14px;
    color: white;
    background-color: #727272;
    text-align: center;
    margin-top: 15px;
}
.infolist{
    list-style-type: none;
    text-align: center;
}
.infolistelement{
    display: inline;
}

/* Applying the best overflow configuration to all 'dev' elements to this website  */
div{
    overflow: auto;
}
/*       END         */
.test{
    color: rgb(0, 247, 255);
}
