/*Defining the background image properties*/
.bdy{
    background-color: #212121;
}
.table-header{
    font-size: xx-large;
}
/*Somewhat configuring the main header properties*/
.main-header{
    border-color: whitesmoke;
    border-style: hidden;
    border-color: orange;
}

.wtxt0:hover{
    text-decoration: line-through;
    color: orange;
}
.col1{
    width: 8%;
    height: 3%;
}
.col2{
    width: 8%;
    height: 3%;
}
.col3{
    width: 8%;
    height: 3%;
}
.featuresli0{
    color:white;
    font-size: large;
}
.wnewtable0{
    background-color: orange;
    border-color: yellowgreen;
    opacity: 10%;
}
.wnewlist0{
    color: black;
}

.col2{
    text-align: center;
}
.col1{
    text-align: center;
}
.col3{
    text-align: center;
}

.maincol0{
    background-color: black;
    height: 3%;
}

.maincol0:hover{
    background-color: grey;
}

.imgtcg:hover{
    opacity: 50%;
}

/* Somewhat configuring the style of the main-header's navigation buttons. */
/* Let's remove the decoration of it*/
.homeword0{
    text-decoration: none;
    cursor: default;
}
.homelinkword0{
    text-decoration: none;
    cursor: default;
}
.downloadslinkword0{
    text-decoration: overline;
    cursor: default;
}
.downloadsword0{
    text-decoration: none;
    cursor: default;
}
.aboutword0{
    text-decoration: none;
    cursor: default;
}
.header-link{
    text-decoration: none;
    color: white;
}
.header-link:hover{
    text-decoration: overline;
    color: orange;
}

.homeword0:hover{
    text-decoration: overline;
}
.downloadsword0:hover{
    text-decoration: overline;
}
.aboutword0:hover{
    text-decoration: overline;
}


.col1:hover{
    background-color: grey;
}

.col2:hover{
    background-color: grey;
}

.col3:hover{
    background-color: grey;
}
/* Configuring the style of wnewtable0*/
.wnewtable0{
    margin-top: 15px;
}

.wnewtable0:hover{
    opacity: 100%;
}

/*  The code of 'licensetable0' hover effect goes over here. */
.licensetable0:hover{
    opacity: 100%;
}

.wapp0{
    margin-top: 25px;
}
.appdiv{
    margin-top: 25px;
    border: 10px white;
    border-style: solid;
    border-width: 5px;
    border-color: darkgreen;
    background-color: green;
    width: 99%;
    height: 90px;
}


.downloadtcg{
    background-color: green;
    width: 1000px;
    margin-top: 60px;
    margin-left: 25%;
    border-width: 1px;
}
.closeapp{
    width: 35px;
    background-color: red;
    height: 10px;
    padding-right: 0px;
}
.cwindows{
    height: 5px;
}
.closeapp:hover{
    background-color: darkgrey;
}
.closeapptxt{
    padding-right: 50%;
    padding-left: 50%;
    cursor: default;
}
.hint0{
    cursor: default;
}
.hint001{
    cursor: default;
}
.hint1{
    cursor: default;
}
.win7:hover{
    background-color: darkgrey;
}
.hint2{
    cursor: default;
    margin-top: 55px;
}
.win1032:hover{
    background-color: darkgrey;
}
.hint3{
    cursor: default;
}
.win1064:hover{
    background-color: darkgrey;
}
.headerdownloads{
    background-color: cyan;
}
.hint4{
    cursor: default;
}
.autodownloader:hover{
    background-color: darkgrey;
}
.hint5{
    cursor: default;
}
.hint6{
    cursor: default;
    font-size: 14px;
}

.btnsholder{
    width: 1000px;
}
.godownloadsbtn{
    width: 50px;
    cursor: default;
}
.gohomebtn{
    width: 50px;
    height: 30px;
    padding-right: 100%;
    cursor: default;
}
.godownloadsbtn_font{
    cursor: default;
}
.gohomebtn_font{
    cursor: default;
}

.gohome_lnk{
    color: white;
    text-decoration: none;
    cursor: default;
}
.godownloads_lnk{
    color: white;
    text-decoration: none;
    cursor: default;
}

.godownloadsbtn:hover{
    background-color: darkgrey;
}
.gohomebtn:hover{
    background-color: darkgrey;
}


.closelnk{
    cursor: default;
    color: white;
    text-decoration: none;
}

/*          END                  */




/* Applying the best overflow configuration to make sure things won't go outside of div element  */
div{
    overflow: auto;
}
/*      END       */